@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}