html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: Lato, "Open Sans", sans-serif;
}

button, .btn, h1,h2,h3,h4,h5 {
  font-weight: 700;
}

.container-fluid {
  max-width: 1224px;
  padding-left: 30px;
  padding-right: 30px;
}

.filters-customer {
  border-left: none;
  border-top: 1px solid #bbb;
  @media only screen and (min-width: 1200px) { //at the large breakpoint, switch the border to keep the two separate
    border-left: 1px solid #bbb;
    border-top: none;
  }
}

.title {
  font-size: 1.75rem;
}
.subtitle {
  margin-bottom: 3rem;
}

.header, .footer {
  background-color: #333;
  color: #ddd;
  min-height: 10rem;
}

.message-container {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 30%;
  min-width: 30rem;
  font-size: 10pt;
  z-index: 1000;
  .remove {
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin 2s infinite linear;
}

.preview-container {
  iframe {
    width: 100%;
    height: 70vh;
  }
}

.title.page-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.alert-outline {
  background: none;
}

.preview-actions .btn {
  margin: 0.5rem;
}