.ui-grid {
  .ui-grid-viewport {
    overflow: scroll;
  }
  .ui-grid-pager-panel {
    padding: 0 2rem;
    .ui-grid-pager-container {
           float: right;
         }

    .ui-grid-pager-count-container {
      float: left;
      .ui-grid-pager-count {
        margin: 0;
      }
    }
  }

  .ui-grid-menu-close-button {
    display: none !important;
  }

  .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow: auto;
  }
}

.nav, .pagination, .carousel, .panel-title a {
  /* Give angular clickables same pointer as standard buttons/links */
  cursor: pointer;
}

a.ng-scope:hover {
  text-decoration: none;
}