<div class="row results-container">
  <div class="col-lg-12">
    <h1 class="title results-title">Search Results</h1>
    <div id="gridContainer">
      <div ui-grid="sres.gridOptions" ui-grid-selection="" class="table"></div>
    </div>
  </div>
</div>