<div class="row filters-container">
  <div class="col-lg-12">
    <p>Find results by querying for any a-d separated by ;</p>
    <div class="form-group">
      <label class="control-label">Query</label>
      <input type="text" class="form-control" ng-model="srch.criteria.query" />
    </div>
  </div>
  <div class="row" style="margin-top: 2rem;">
    <div class="col-lg-12 text-center">
      <button class="btn btn-primary" ng-click="srch.search()">Search</button>
    </div>
  </div>
</div>