<div ng-if="spre.selection.details" class="row preview-container">
  <div class="col-lg-12">
    <h1 class="title preview-title">Result Detail</h1>
    <div>{{spre.selection.details}}</div>
  </div>
</div>