<!DOCTYPE html>

<!--
Note the lack of ng-app. This is because with module loading you can't really work that way.
Instead we bootstrap our angular app manually (see init.js)
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Thing App</title>
  <!-- Using thymeleaf url substitution to avoid issues with contextPath changing between deployments -->
  <!-- Webpack builds everything into the 'dist' folder so that's where we should be pulling from -->
  <script type="text/javascript" th:inline="javascript">
    //this magic comment syntax is to use thymeleaf inline to supply the context path to JS
    window.serviceBaseUrl = /*[[@{/}]]*/ 'thymeleaf placeholder';
  </script>
  <script th:src="@{/dist/app.js}"></script>
</head>
<body>
  <div class="container-fluid" ng-controller="thingCtrl as ctrl">
    <!-- The MessageService supplies alerts from everywhere in the app, to everywhere in the app -->
    <div class="message-container" ng-show="ctrl.messages.length">
      <div ng-repeat="message in ctrl.messages" class="alert alert-{{message.type}}">
        <span class="remove pull-right" ng-click="ctrl.removeMessage($index)">&times;</span>
        <p>{{message.message}}</p>
        <p ng-if="message.error">{{message.error}}</p>
      </div>
    </div>

    <!-- The directives we've defined -->
    <thing-search-filters></thing-search-filters>
    <thing-search-results></thing-search-results>
    <thing-detail></thing-detail>
  </div>
</body>
</html>